git+https://github.com/pvlib/pvlib-python
git+https://github.com/plantpredict/python-sdk
git+https://github.com/numpy/numpy-financial
streamlit==0.86.0
git+https://github.com/PablocFonseca/streamlit-aggrid
matplotlib==3.4.1
